{% extends "audify/layout.html" %}

{% block body %}
    <div class="container-fluid fixed-bottom bg-dark" style="padding: 0.7vw;">
        <div class="row">
            <div class="col-3">
                <div class="media">
                    <!-- IMPORTANT: Temporary Data. Will be replaced by API data in later update -->
                    <img src="static/audify/loginIMG1.jpg" style="width:64px;height:64px" class="align-self-center mr-3" alt="...">
                    <div class="media-body text-white">
                        <h5 class="mt-0">Song</h5>
                        <p>Artist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}