{% extends "audify/layout.html" %}

{% block body %}
    <h1 style="color: white;">Good Morning, </h1>
    <h3>Recently Played </h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">
                    <img src="static/audify/loginIMG1.jpg" style="width:70%;height:70%;" class="align-self-center mr-3" alt="...">
                    <h4>Album</h4>
                    <h5>Artist</h5>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <img src="static/audify/loginIMG1.jpg" style="width:70%;height:70%;" class="align-self-center mr-3" alt="...">
                    <h4>Album</h4>
                    <h5>Artist</h5>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <img src="static/audify/loginIMG1.jpg" style="width:70%;height:70%;" class="align-self-center mr-3" alt="...">
                    <h4>Album</h4>
                    <h5>Artist</h5>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <img src="static/audify/loginIMG1.jpg" style="width:70%;height:70%;" class="align-self-center mr-3" alt="...">
                    <h4>Album</h4>
                    <h5>Artist</h5>
                </div>
            </div>
            <audio controls><source src="spotify:track:63DN5GwJjOeqlRL1aSfo8L"></audio>
        </div>
    </div>
{% endblock %}